
<% if (alert_success.length > 0) { %>
<!-- success -->
<div class="alert alert-success alert-dismissible fade show text-center" role="alert"> <%- alert_success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<% } %>

<% if (alert_info.length > 0) { %>
<!-- info -->
<div class="alert alert-info alert-dismissible fade show text-center" role="alert"> <%- alert_info %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<% } %>

<% if (alert_warning.length > 0) { %>
<!-- warning -->
<div class="alert alert-warning alert-dismissible fade show text-center" role="alert"> <%- alert_warning %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<% } %>

<% if (alert_danger.length > 0) { %>
<!-- danger -->
<div class="alert alert-danger alert-dismissible fade show text-center" role="alert"><%- alert_danger %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>
<% } %>