
 <!-- alert shortcode start -->
 <% try{   if(alert.length > 0){ } %>
 <% for(var a=0;a < alert.length;a++){   %>
        <%   if(alert[a].type == 'level1'){ %>

<div class="container text-center  mb-5 ">
<div class="row text-center" style="height:100px;">
        <div class="col-12 text-center ">
                <div class="alert alert-success " role="alert" style="margin-top:100px; margin-bottom: 10px; ">
                        <strong> <%= alert[a].message %></strong>
                      </div>
            
        </div>
</div>
</div>
            <%   }else if(alert[a].type == 'level2'){ %>
                <div class="container text-center  mb-5 ">
                        <div class="row text-center" style="height:100px;">
                                <div class="col-12 text-center ">
                                        <div class="alert alert-info " role="alert" style="margin-top:100px; margin-bottom: 10px; ">
                                                <strong> <%= alert[a].message %></strong>
                                              </div>
                                    
                                </div>
                        </div>
                </div>
                <%  }else if(alert[a].type == 'level3'){ %>
                    <div class="container text-center  mb-5 ">
                            <div class="row text-center" style="height:100px;">
                                    <div class="col-12 text-center ">
                                            <div class="alert alert-warning " role="alert" style="margin-top:100px; margin-bottom: 10px; ">
                                                    <strong> <%= alert[a].message %></strong>
                                                  </div>
                                        
                                    </div>
                            </div>
                    </div>
                    <% }else if(alert[a].type == 'level4'){ %>
                        <div class="container text-center  mb-5 ">
                                <div class="row text-center" style="height:100px;">
                                        <div class="col-12 text-center ">
                                                <div class="alert alert-danger" role="alert" style="margin-top:100px; margin-bottom: 10px; ">
                                                        <strong> <%= alert[a].message %></strong>
                                                      </div>
                                            
                                        </div>
                                </div>
                        </div>
                        <%   } %>

<% } %>
<% }catch(er){ }  %>
<!-- alert shortcode end -->