 <!-- get categories -->

 <script>
    $.ajax({
    url: "getCategories",
    method: 'POST',
    data:{
      null:null
    },
    beforeSend: function(){

    },
    success: function(categories){
     var categories= JSON.stringify(categories);
      categories=JSON.parse(categories);
      $('#vcheckboxesb').empty();



      for(var a in categories) {
          $('#vcheckboxesb').append(
`<label for="vca_`+categories[a].cod_ca+`">
<input type="checkbox" id="vca_`+categories[a].cod_ca+`" />`+categories[a].name_ca+`
</label>
<script>
$("#vca_`+categories[a].cod_ca+`").change(function(){

if(this.checked) {
  addTechniquesv(`+categories[a].cod_ca+`);
  addTagCategoryv(`+categories[a].cod_ca+`);
  var checkboxes = document.getElementById("vcheckboxesb2");
  checkboxes.style.display = "block";
}
else{
$(".vtec_of_cat_`+categories[a].cod_ca+`").remove();
removeTagCategoryv(`+categories[a].cod_ca+`);
getTechniquesByCategoryv(`+categories[a].cod_ca+`);
}
});
</`+`script>`);

      }
    },
    error: function(err) {

    }
});
</script>

<!-- get technique -->
<script>
function addTechniquesv(idCategory){
$('#vcomodin-subcategory').remove();
  $.ajax({
  url: "getTechniques",
  method: 'POST',
  data:{
    idCategory:idCategory
  },
  beforeSend: function(){

  },
  success: function(techniques){

   var techniques= JSON.stringify(techniques);
   techniques=JSON.parse(techniques);

   var codCategory=idCategory;
    $('#vcheckboxesb2').append(`<div class="subtheme  vtec_of_cat_`+codCategory+`">`+techniques[0].name_ca+`</div>`);


    for(var a in techniques) {
        $('#vcheckboxesb2').append(
`<label class="vtec_of_cat_`+codCategory+`" for="vte_`+techniques[a].cod_te+`">
<input class="vtec_of_cat_`+codCategory+`" type="checkbox" id="vte_`+techniques[a].cod_te+`" />`+techniques[a].name_te+`
</label>
<script>
$("#vte_`+techniques[a].cod_te+`").change(function(){

if(this.checked) {

  addTagTechniquev(`+techniques[a].cod_te+`);
}
else{
  removeTagTechniquev(`+techniques[a].cod_te+`);
}
});
</`+`script>`);
    }
  },
  error: function(err) {
alert(JSON.stringify(err));
  }
});
}
</script>

<!-- get thematic -->
<script>


                 $.ajax({
                 url: "getThematics",
                 method: 'POST',
                 data:{
                   null:null
                 },
                 beforeSend: function(){

                 },
                 success: function(thematics){
                  $('#vcheckboxesb3').empty();

                  var thematics= JSON.stringify(thematics);
                  thematics=JSON.parse(thematics);



                  var codThematics;
                   for(var a in thematics) {
                  codThematics=thematics[a].cod_th;
                       $('#vcheckboxesb3').append(
         `<label  for="vthe_`+thematics[a].cod_th+`">
         <input  type="checkbox" id="vthe_`+codThematics+`" />`+thematics[a].name_th+`
         </label>
         <script>
          $("#vthe_`+codThematics+`").change(function(){

          if(this.checked) {

                 addTagThematicsv(`+codThematics+`);
             }
             else{
                 removeTagThematicsv(`+codThematics+`);
             }
          });
         </`+`script>`);
                   }
                 },
                 error: function(err) {
     
           console.log(JSON.stringify(err));
                 }
             });

</script>

<!-- add and remove array tags category -->
<script>

  let tagsCategoryv=[];
  function addTagCategoryv(idCategory){
      tagsCategoryv.push(idCategory);

  }
  function removeTagCategoryv(idCategory){

      tagsCategoryv.splice( tagsCategoryv.indexOf(idCategory), 1 );

  }
</script>

<!-- add and remove array tags Thematics -->
<script>

          let tagsThematicv=[];
          function addTagThematicsv(idThematic){
                  tagsThematicv.push(idThematic);
          }
          function removeTagThematicsv(idThematic){

          tagsThematicv.splice( tagsThematicv.indexOf(idThematic), 1 );

          }
</script>

<!-- add array tags technique -->
<script>

          let tagsTechniquev=[];
          function addTagTechniquev(idTechnique){
              tagsTechniquev.push(idTechnique);

          }
          function removeTagTechniquev(idTechnique){

                  tagsTechniquev.splice( tagsTechniquev.indexOf(idTechnique), 1 );

          }

</script>

<!-- get technique for category and remove techniques if unchecked category -->
<script>
function getTechniquesByCategoryv(idCategory){

  $.ajax({
  url: "getTechniques",
  method: 'POST',
  data:{
    idCategory:idCategory
  },
  beforeSend: function(){

  },
  success: function(techniques){
          var techniques= JSON.stringify(techniques);
   techniques=JSON.parse(techniques);

       for(var a in techniques) {

        removeTagTechniqueForCategoryv(techniques[a].cod_te);
       }

  },
  error: function(err) {

  }
});
}

function removeTagTechniqueForCategoryv(idsTechinque){

  if(tagsCategoryv.length == []){
  if ( $("#vcomodin-subcategory").length == 0 ) {
          $('#vcheckboxesb2').append('<div class="subtheme" id="vcomodin-subcategory">Selecccione una categoria para ver las técnicas</div>');
  }

}
if(tagsTechnique.indexOf(idsTechinque)!=-1){
tagsTechnique.splice( tagsTechnique.indexOf(idsTechinque), 1 );
}


}
</script>

<!-- form add art photo -->

<script>
$('#btn-send-add-art-video').click(function() {

  $('#tagsThematicVideo').val(tagsThematicv.join(","));
  $('#tagsCategoryVideo').val(tagsCategoryv.join(","));
  $('#tagsTechniqueVideo').val(tagsTechniquev.join(","));



var form = $("#form-add-art-video")[0];
var data  = new FormData(form);

$.ajax({
url: "addArtVideo",
type: 'POST',
enctype: 'multipart/form-data',
async:true,
data:data,
contentType: false,
processData: false,
cache: false,
beforeSend: function(){
$('#section-artist').css({overflow: 'hidden'});
$('#loader1').show();
},
success: function(res){
$('#section-artist').css({overflow: 'auto'});
$('#loader1').hide();


if(!res.status){
  
$('#alert-container-modals-video div').remove();
var templateAlert=  `<div class="alert alert-warning alert-dismissible fade show text-center" role="alert"> `+res.msg+`
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>`;

$('div').animate({ scrollTop: 0 }, 0);
$('#alert-container-modals-video').append(templateAlert);


}else{

  window.location.href='artist';

}
},
error: function(err) {
$('#section-artist').css({overflow: 'auto'});
$('#loader1').hide();
}
});

});
</script>