
<% include admin-header %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-5">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Artes en prueba</h1>
          </div><!-- /.col -->
       
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid p-5 ">

       <div class="row ">

          <div class="col-sm-6"><div id="example1_length" class="dataTables_length"><label><select size="1" name="example1_length" aria-controls="example1"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> Registros por pagina</label></div></div>

          
          <div class="col-sm-6 text-right mb-2"> Buscar: <input type="text" name="" id=""> </div>
          <div class="col-sm-12 " >

              <div class="table-responsive "> 
              <table class="table" >
                  <thead class="bg-antares">
                    <tr class=" text-center">

                      <th scope="col">#</th>
                      <th scope="col">Comprador</th>
                      <th scope="col">Creador</th>
                      <th scope="col">Arte</th>
                      <th scope="col">Monto</th>
                      <th scope="col">Inicio de prueba</th>
                      <th scope="col">Fin de prueba</th>
                     
                    </tr>
                  </thead>
                  <tbody class="text-center">

                    <tr>
                      <th scope="row">1</th>
                   
                      <td>Brad Disel</td>
                      <td>Armando Martinez</td>
                      <td>Bello amanecer - 150 x 170</td>
                      <td>$12000 mxn</td>
                      <td> 11/07/2018 </td>
                      <td> 14/07/2018 </td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                     
                        <td>Brad Disel</td>
                        <td>Armando Martinez</td>
                        <td>Bello amanecer - 150 x 170</td>
                        <td>$12000 mxn</td>
                        <td> 11/07/2018 </td>
                        <td> 14/07/2018 </td>
                      </tr>

                      <tr>
                          <th scope="row">3</th>
                       
                          <td>Brad Disel</td>
                          <td>Armando Martinez</td>
                          <td>Bello amanecer - 150 x 170</td>
                          <td>$12000 mxn</td>
                          <td> 11/07/2018 </td>
                          <td> 14/07/2018 </td>
                        </tr>
                  
                        <tr>
                            <th scope="row">4</th>
                         
                            <td>Brad Disel</td>
                            <td>Armando Martinez</td>
                            <td>Bello amanecer - 150 x 170</td>
                            <td>$12000 mxn</td>
                            <td> 11/07/2018 </td>
                            <td> 14/07/2018 </td>
                          </tr>

                   
                  </tbody>
                </table>
              </div>
          </div>
          <div class="col-sm-12">
              <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
          </div>
       </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include admin-footer %>