
<% include admin-header %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-5">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">API Antares</h1>
          </div><!-- /.col -->
       
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid p-5 ">

       <div class="row ">

       
          <div class="col-sm-12 p-5" >

              <div class="container-form">
                 
               
                  <form action="#" method="post">
                    
                     <div class="form-group">
                        <input type="text" class="form-control text-center" id="InputNameUser" placeholder="Token API Antares">
                     </div>
                    
                     <button type="submit" class="btn-login btn  btn-large  btn-block">Guardar</button>
                  </form>
               </div>

          </div>
          

       </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include admin-footer %>