
<% include artist-header %>
<section class="container">

<div class="row">
  <% include artist-aside %>

    <!-- arts -->
 <div class="col-xs-12 col-sm-12   col-md-8 pull-md-4 col-lg-8  ">
 

<!-- list and pagination arts -->

<div class="row">
                <div  class="col-xs-12 text-center filter-head ">Editar obra  </div>
        </div>

<!-- art video template -->
<div class="container-art mt-4">
            
                              <div class="modal-body">
                                <form>
                                        
                              <div class="row">

                                        <div class="col-xs-12 text-center filter-head mt-3 mb-2">Foto de la obra</div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                                        <label for="imgInp">
                                                       

                                                               
<div class="container-fix-art">
             
<img id="blah" src="media/img/oleo1.jpg" class="img-art" >
</div>
                                                          </label>
                                                      
                                        <input type='file' id="imgInp" style="display:none" />
                                        <br>
                                        <small>Clic sobre la imagen para cargar foto de la obra </small>
                                      

                                        </div>

                                        <div class="col-xs-12 text-center filter-head mt-3">Información basica</div>

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                      
                                                        <label for="exampleInputEmail1"><strong>Titulo de la obra</strong> </label>
                                                        <input  type="text" class="form-control text-center  input-antares2 " id="exampleInputEmail1"  placeholder="Ingrese el titulo de la obra(publico)" >
                                            
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                               
                                                                <label for="exampleInputEmail1"><strong>Autor</strong> </label>
                                                                <input  type="text" class="form-control text-center  input-antares2 " id="exampleInputEmail1"  placeholder="Ingrese el autor" value="Felipe Olvera Perez">
                                              
                                        </div>
                                  
                                        <div class="col-xs-12 text-center filter-head mt-3">Modo de venta</div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                               
                                                        <label for="exampleInputEmail1"><strong>Venta directa (mxn)</strong> </label>
                                                        <input id="ventaInput" type="text" class="form-control text-center  input-antares2 money" id="exampleInputEmail1"  placeholder="Ingrese el precio de obra en pesos mexicanos" >
                                                        
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                               
                                                <label for="exampleInputEmail1"><strong>Subastar obra (periodo 3 dias) (mxn)</strong> </label>
                                                <input id="subastaInput" type="text" class="form-control text-center  input-antares2 money" id="exampleInputEmail1"  placeholder="Ingrese la oferta mínima para iniciar la subasta pesos mexicanos" >
                                                
                                 </div>


                                       <div  class="col-xs-12 text-center filter-head mt-3">Medidas de la obra (sólo si aplican)</div>

                                       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                      
                                                <label for="exampleInputEmail1"><strong>Altura cm</strong> </label>
                                                <input  type="number" class="form-control text-center  input-antares2 " id="exampleInputEmail1"  placeholder="Ingrese la altura en cm" >
                                    
                                        </div>
                                        
                                       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                      
                                                <label for="exampleInputEmail1"><strong>Ancho cm</strong> </label>
                                                <input  type="number" class="form-control text-center  input-antares2 " id="exampleInputEmail1"  placeholder="Ingrese el ancho en cm" >
                                    
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                      
                                                        <label for="exampleInputEmail1"><strong>Profundidad cm</strong> </label>
                                                        <input  type="number" class="form-control text-center  input-antares2 " id="exampleInputEmail1"  placeholder="Ingrese la profundidad en cm" >
                                            
                                                </div>
                                             

                              </div>

                 
                              <div class="container-filters-buyers mt-4 ">
                                        <div class="row">
                                                <div id="filter-head-down" class="col-xs-12 text-center filter-head ">Etiqueta tu obra utilizando los filtros de abajo  <i class="fas fa-sort-down d-lg-none pr-2"></i></div>
                                        </div>
                                        <div id="row-filters" class="row row-filters pb-2">
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center pt-2">
                                  
                                                  <div class="multiselect">
                                                                  <div class="selectBox" onclick="showCheckboxes()">
                                                                    <div class="selection">
                                                                     Categoría <i class="fas fa-sort-down"></i>
                                                                    </div>
                                                                    <div class="overSelect"></div>
                                                                  </div>
                                                                  <div id="checkboxesb">
                                                                    <label for="ca1">
                                                                      <input type="checkbox" id="ca1" />pintura</label>
                                                                    <label for="ca2">
                                                                      <input type="checkbox" id="ca2" />obra gráfica</label>
                                                                    <label for="ca3">
                                                                      <input type="checkbox" id="ca3" />Escultura</label>
                                                                    <label for="ca4">
                                                                     <input type="checkbox" id="ca4" />Dibujo</label>
                                                                     <label for="ca5">
                                                                     <input type="checkbox" id="ca5" />Instalaciones</label>
                                                                  </div>
                                                 </div>
                                  
                                  
                                  
                                  </div>
                                                        
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center pt-2">
                                                  <div class="multiselect">
                                                                  <div class="selectBox" onclick="showCheckboxes2()">
                                                                                  <div class="selection">
                                                                                                  técnica <i class="fas fa-sort-down"></i>
                                                                                                 </div>
                                                                                                 <div class="overSelect"></div>
                                                                  </div>
                                                                  <div id="checkboxesb2">
                                                             <div class="subtheme">PINTURA</div>
                                                                    <label for="4">
                                                                      <input type="checkbox" id="4" />Óleo</label>
                                                                    <label for="5">
                                                                      <input type="checkbox" id="5" />Acrílicos</label>
                                                                    <label for="6">
                                                                      <input type="checkbox" id="6" />Mixtos</label>
                                  
                                                                      <div class="subtheme">OBRA GRÁFICA</div>
                                  
                                                                      <label for="a4">
                                                                                  <input type="checkbox" id="a4" />Aguafuerte</label>
                                                                                <label for="a5">
                                                                                  <input type="checkbox" id="a5" />Aguatinta</label>
                                                                                <label for="a6">
                                                                                  <input type="checkbox" id="a6" />Punta seca</label>

                                                                              

                                                                                  
                                                                  </div>
                                  
                                                 </div>
                                  </div>
                                                          
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center pt-2">
                                                  <div class="multiselect">
                                                                  <div class="selectBox" onclick="showCheckboxes3()">
                                                                                  <div class="selection">
                                                                                                  tematica <i class="fas fa-sort-down"></i>
                                                                                                 </div>
                                                                                                 <div class="overSelect"></div>
                                                                  </div>
                                                                  <div id="checkboxesb3">
                                                                    <label for="7">
                                                                      <input type="checkbox" id="7" />Figurativo</label>
                                                                    <label for="8">
                                                                      <input type="checkbox" id="8" />Surrealista</label>
                                                                    <label for="9">
                                                                      <input type="checkbox" id="9" />Desnudos</label>
                                                                  </div>
                                                 </div>
                                  </div>
                                  
                                        </div>
                                       </div>
                                          


                                </form>
                              </div>
                              <div class=" text-center mb-2">
                                
                                <button type="button" class="btn btn-antares">Actualizar</button>
                              </div>
        
 

 </div>

    <!-- end arts -->


  
  


</div>

</section>

<% include artist-footer %>