
<% include buyers-header %>

<section class="container">

<div class="row">

        <% include buyers-aside %>


    <!-- arts -->
 <div class="col-xs-12 col-sm-12   col-md-8 pull-md-4 col-lg-8  ">



          
                            <div class="container-filters-buyers mb-4 ">
                                        <div class="row">
                                                <div id="filter-head-down" class="col-xs-12 text-center filter-head ">Mis artistas seguidos</div>
                                        </div>
                                  
        </div>


<!-- list and pagination arts -->


<div class="container-custom-tarjet pb-0 mb-4">

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-2  ">
                            <img  class="avatar-artist" src="media/img/avatar-default.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d-flex align-items-center ">
                            <p class="name-artist"> Nombre de artista  </p>
                 
                         
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-2 d-flex align-items-center text-center ">
                              <a href="buyers-artist-profile" class="btn btn-antares-unfollow" >Ver más</a>
                     </div>
                    
                </div>
        
                <div class="row text-center mb-1">
                    <div class="col-12 container-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="row text-center row-transfers">
                        <div class="col-12">
                              Seguidores
                        </div>
                        <div class="col-12 font-weight-bold">
                                        <i class="fas fa-users"></i>    1500
                         </div>
                        
                </div>
 </div>

 <div class="container-custom-tarjet pb-0 mb-4">

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-2  ">
                            <img  class="avatar-artist" src="media/img/avatar-default.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d-flex align-items-center ">
                            <p class="name-artist">Nombre de artista  </p>
                 
                         
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-2 d-flex align-items-center text-center ">
                        <a href="buyers-artist-profile" class="btn btn-antares-unfollow" >Ver más</a>
                     </div>
                    
                </div>
        
                <div class="row text-center mb-1">
                    <div class="col-12 container-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="row text-center row-transfers">
                        <div class="col-12">
                              Seguidores
                        </div>
                        <div class="col-12 font-weight-bold">
                                        <i class="fas fa-users"></i>    1500
                         </div>
                        
                </div>
 </div>

 <div class="container-custom-tarjet pb-0 mb-4">

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-2  ">
                            <img  class="avatar-artist" src="media/img/avatar-default.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d-flex align-items-center ">
                            <p class="name-artist">Nombre de artista  </p>
                 
                         
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-2 d-flex align-items-center text-center ">
                        <a href="buyers-artist-profile" class="btn btn-antares-unfollow" >Ver más</a>
                     </div>
                    
                </div>
        
                <div class="row text-center mb-1">
                    <div class="col-12 container-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="row text-center row-transfers">
                        <div class="col-12">
                              Seguidores
                        </div>
                        <div class="col-12 font-weight-bold">
                                        <i class="fas fa-users"></i>    1500
                         </div>
                        
                </div>
 </div>
 <div class="container-custom-tarjet pb-0 mb-4">

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-2  ">
                            <img  class="avatar-artist" src="media/img/avatar-default.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d-flex align-items-center ">
                            <p class="name-artist">Nombre de artista  </p>
                 
                         
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-2 d-flex align-items-center text-center ">
                        <a href="buyers-artist-profile" class="btn btn-antares-unfollow" >Ver más</a>
                     </div>
                    
                </div>
        
                <div class="row text-center mb-1">
                    <div class="col-12 container-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="row text-center row-transfers">
                        <div class="col-12">
                              Seguidores
                        </div>
                        <div class="col-12 font-weight-bold">
                                        <i class="fas fa-users"></i>    1500
                         </div>
                        
                </div>
 </div>
 <div class="container-custom-tarjet pb-0 mb-4">

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-2  ">
                            <img  class="avatar-artist" src="media/img/avatar-default.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d-flex align-items-center ">
                            <p class="name-artist">Nombre de artista  </p>
                 
                         
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-2 d-flex align-items-center text-center ">
                        <a href="buyers-artist-profile" class="btn btn-antares-unfollow" >Ver más</a>
                     </div>
                    
                </div>
        
                <div class="row text-center mb-1">
                    <div class="col-12 container-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="row text-center row-transfers">
                        <div class="col-12">
                              Seguidores
                        </div>
                        <div class="col-12 font-weight-bold">
                                        <i class="fas fa-users"></i>    1500
                         </div>
                        
                </div>
 </div>
 <div class="container-custom-tarjet pb-0 mb-4">

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-2  ">
                            <img  class="avatar-artist" src="media/img/avatar-default.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d-flex align-items-center ">
                            <p class="name-artist">Nombre de artista  </p>
                 
                         
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-2 d-flex align-items-center text-center ">
                        <a href="buyers-artist-profile" class="btn btn-antares-unfollow" >Ver más</a>
                     </div>
                    
                </div>
        
                <div class="row text-center mb-1">
                    <div class="col-12 container-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="row text-center row-transfers">
                        <div class="col-12">
                              Seguidores
                        </div>
                        <div class="col-12 font-weight-bold">
                                        <i class="fas fa-users"></i>    1500
                         </div>
                        
                </div>
 </div>
 <div class="container-custom-tarjet pb-0 mb-4">

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-2  ">
                            <img  class="avatar-artist" src="media/img/avatar-default.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d-flex align-items-center ">
                            <p class="name-artist">Nombre de artista  </p>
                 
                         
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-2 d-flex align-items-center text-center ">
                        <a href="buyers-artist-profile" class="btn btn-antares-unfollow" >Ver más</a>
                     </div>
                    
                </div>
        
                <div class="row text-center mb-1">
                    <div class="col-12 container-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="row text-center row-transfers">
                        <div class="col-12">
                              Seguidores
                        </div>
                        <div class="col-12 font-weight-bold">
                                        <i class="fas fa-users"></i>    1500
                         </div>
                        
                </div>
 </div>
 <div class="container-custom-tarjet pb-0 mb-4">

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-2  ">
                            <img  class="avatar-artist" src="media/img/avatar-default.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d-flex align-items-center ">
                            <p class="name-artist">Nombre de artista  </p>
                 
                         
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-2 d-flex align-items-center text-center ">
                        <a href="buyers-artist-profile" class="btn btn-antares-unfollow" >Ver más</a>
                     </div>
                    
                </div>
        
                <div class="row text-center mb-1">
                    <div class="col-12 container-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="row text-center row-transfers">
                        <div class="col-12">
                              Seguidores
                        </div>
                        <div class="col-12 font-weight-bold">
                                        <i class="fas fa-users"></i>    1500
                         </div>
                        
                </div>
 </div>
 <div class="container-custom-tarjet pb-0 mb-4">

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-2  ">
                            <img  class="avatar-artist" src="media/img/avatar-default.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d-flex align-items-center ">
                            <p class="name-artist">Nombre de artista  </p>
                 
                         
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-2 d-flex align-items-center text-center ">
                        <a href="buyers-artist-profile" class="btn btn-antares-unfollow" >Ver más</a>
                     </div>
                    
                </div>
        
                <div class="row text-center mb-1">
                    <div class="col-12 container-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="row text-center row-transfers">
                        <div class="col-12">
                              Seguidores
                        </div>
                        <div class="col-12 font-weight-bold">
                                        <i class="fas fa-users"></i>    1500
                         </div>
                        
                </div>
 </div>
 <div class="container-custom-tarjet pb-0 mb-4">

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-2  ">
                            <img  class="avatar-artist" src="media/img/avatar-default.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 d-flex align-items-center ">
                            <p class="name-artist">Nombre de artista  </p>
                 
                         
                     </div>
                     <div class="col-xs-12 col-sm-12 col-md-2 d-flex align-items-center text-center ">
                        <a href="buyers-artist-profile" class="btn btn-antares-unfollow" >Ver más</a>
                     </div>
                    
                </div>
        
                <div class="row text-center mb-1">
                    <div class="col-12 container-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="row text-center row-transfers">
                        <div class="col-12">
                              Seguidores
                        </div>
                        <div class="col-12 font-weight-bold">
                                        <i class="fas fa-users"></i>    1500
                         </div>
                        
                </div>
 </div>

<!-- end list and pagination arts -->

<div class=" row mt-5 ">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
    
                <nav class="nav-pagination">
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>

                          <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                        </ul>
                      </nav>
        </div>
    </div>
 </div>

    <!-- end arts -->


  
  


</div>

</section>
<% include buyers-footer %>