
<% include buyers-header %>

<section class="container" style="min-height: 90%;">

<div class="row">

        <% include buyers-aside %>
    <!-- arts -->
 <div class="col-xs-12 col-sm-12   col-md-8 pull-md-4 col-lg-8  ">
     <div class="container-filters-buyers ">
      <div class="row">
              <div id="filter-head-down" class="col-xs-12 text-center filter-head ">En prueba</div>
      </div>

     </div>


<!-- list and pagination arts -->

<!-- art img template -->
<div class="container-art mt-4">
                <button class="btn subasta-art-img" data-toggle="tooltip" data-placement="bottom" title="subasta"><img src="media/img/auction-hammer-icon.png" class="alt-edit"></img></button>
                <a class=" delete-art-img" data-toggle="tooltip" data-placement="bottom" title="Dar me gusta"><i class="fas fa-heart unlike"></i></a>
                <!-- <div class="type-title" data-toggle="tooltip" data-placement="bottom" title="Click Mostrar más info sobre la subasta"><button >SUBASTA</button> </div> -->
                       
                <div class="container-fix-art"> 
                <img src="media/img/oleo1.jpg" class="img-art" data-jslghtbx>
               </div>
                
                        <div class="container-info-arts container-fluid">
                            <div class="row mt-1">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left">
                              
                                    </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <span>Solitario - 120 x 200 - Óleo sobre tela - <a data-toggle="tooltip" data-placement="bottom" title="Ver más sobre el creador" href="http://">Armando Martinez</a> </span>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <label class="label-likes" data-toggle="tooltip" data-placement="bottom" title="Me gusta recibidos"> 300 <i class="fas fa-heart"></i></label> 
                                </div>
                            </div>
                            <div class="row ">
                                    
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " >
                                                        <label class=" text-center" data-toggle="tooltip" data-placement="bottom" title="Oferta inicial"> Oferta inicial:  <strong> $ 600.00 mxn</strong> </label> 
                                              
                                                </div>
                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " >
                                                                <label class=" text-center" data-toggle="tooltip" data-placement="bottom" title="Oferta ganadora"> Oferta ganadora:  <strong> $ 600.00 mxn</strong> </label>   
                                                </div>
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " >
                                                                
                                                                    <label class="label-likes"  data-toggle="tooltip" data-placement="bottom" title="Tiempo para finalizar periodo de prueba"> 12 hrs 56 mins <i class="fas fa-stopwatch"></i></label> 
                                                            </div>

                                                            <div class="col-6 p-0">
                                                                        <a href="buyers-art-return" class="btn btn-offert" > <i class="fas fa-undo-alt"></i> Regresar obra</a>
                                                      </div>
                                                      <div class="col-6 p-0">
                                                                <a href="" class="btn btn-offert bg-aqua" data-toggle="tooltip" data-placement="bottom" title=" Al finalizar periodo de prueba usted aceptara la obra y el monto será entregado al creador"> <i class="fas fa-hand-paper"></i> Finalizar periodo de prueba</a>
                                                        </div>
                                                          
                                              
                                    
                                        
                                     
                            </div>

                
                        </div>
                </div>
                <!-- end art img template -->

                <!-- art img template
<div class="container-art mt-4">
                <button class="btn venta-art-img" data-toggle="tooltip" data-placement="bottom" title="Venta" ><img src="media/img/icon-venta.png" ></button>
                <a class=" delete-art-img" data-toggle="tooltip" data-placement="bottom" title="Dar me gusta"><i class="fas fa-heart unlike"></i></a>
               
                       
                <div class="container-fix-art"> 
               
              <img src="media/img/oleo2.jpg" class="img-art" data-jslghtbx>
        </div>
                        <div class="container-info-arts container-fluid">
                            <div class="row mt-1">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left">
                         
                                    </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <span>Solitario - 120 x 200 - Óleo sobre tela - <a data-toggle="tooltip" data-placement="bottom" title="Ver más sobre el creador" href="http://">Armando Martinez</a> </span>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <label class="label-likes" data-toggle="tooltip" data-placement="bottom" title="Me gusta recibidos"> 300 <i class="fas fa-heart"></i></label> 
                                </div>
                            </div>
                            <div class="row ">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                                                <label class=" text-left" data-toggle="tooltip" data-placement="bottom" title="Precio"> Precio:  <strong> $ 600.00 mxn</strong> </label> 
                                      
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                                               
                                        </div>
                                        <div class="col-6 p-0">
                                                        <a href="" class="btn btn-offert" data-toggle="tooltip" data-placement="bottom" title=""> <i class="fas fa-undo-alt"></i> Regresar obra</a>
                                      </div>
                                      <div class="col-6 p-0">
                                                <a href="" class="btn btn-offert bg-aqua" data-toggle="tooltip" data-placement="bottom" title=" Al finalizar periodo de prueba usted aceptara la obra y el monto será entregado al creador"> <i class="fas fa-hand-paper"></i> Finalizar periodo de prueba</a>
                                        </div>
                                    
                            </div>

    
                
                        </div>
                </div>
            -->


                   <!-- art video template 
<div class="container-art mt-4">
                <button class="btn venta-art-img" data-toggle="tooltip" data-placement="bottom" title="Venta" ><img src="media/img/icon-venta.png" ></button>
                <a class=" delete-art-img" data-toggle="tooltip" data-placement="bottom" title="Dar me gusta"><i class="fas fa-heart unlike"></i></a>
         
                <div class="container-fix-art"> 
               
        <video class="video-art" width="100%" height="340" controls>
                        <source src="media/video/videoplayback.mp4" type="video/mp4" />
                          
                    </video>
                </div>
                        <div class="container-info-arts container-fluid">
                            <div class="row mt-1">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left">
                             
                                    </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <span>Solitario - 120 x 200 - Óleo sobre tela - <a data-toggle="tooltip" data-placement="bottom" title="Ver más sobre el creador" href="http://">Armando Martinez</a> </span>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <label class="label-likes" data-toggle="tooltip" data-placement="bottom" title="Me gusta recibidos"> 300 <i class="fas fa-heart"></i></label> 
                                </div>
                            </div>
                            <div class="row ">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                                                    <label class=" text-left" data-toggle="tooltip" data-placement="bottom" title="Precio"> Precio:  <strong> $ 600.00 mxn</strong> </label> 
                                          
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                                                   
                                            </div>
                                            <div class="col-6 p-0">
                                                        <a href="" class="btn btn-offert" data-toggle="tooltip" data-placement="bottom" title=""> <i class="fas fa-undo-alt"></i> Regresar obra</a>
                                      </div>
                                      <div class="col-6 p-0">
                                                <a href="" class="btn btn-offert bg-aqua" data-toggle="tooltip" data-placement="bottom" title=" Al finalizar periodo de prueba usted aceptara la obra y el monto será entregado al creador"> <i class="fas fa-hand-paper"></i> Finalizar periodo de prueba</a>
                                        </div>
                                           
                                </div>

                    
                
                        </div>
                </div>
           -->

 

<!-- end list and pagination arts -->

 </div>

    <!-- end arts -->


  
  


</div>

</section>

<% include buyers-footer %>