<% include buyers-header %>

<section class="container">

<div class="row">
        <% include buyers-aside %>

    <!-- arts -->
 <div class="col-xs-12 col-sm-12   col-md-8 pull-md-4 col-lg-8  ">



                <div class="container-custom-tarjet pb-0">
        
               
           
        
                                <div class="row text-center">
                                    <div class="col-xs-12 col-sm-12 col-md-2  ">
                                            <img  class="avatar-artist" src="media/img/avatar-default.png" alt="">
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 d-flex align-items-center ">
                                            <p class="name-artist">Nombre de artista  </p>
                                 
                                         
                                     </div>
                                     <div class="col-xs-12 col-sm-12 col-md-2 d-flex align-items-center text-center ">
                                              <a href="#" class="btn btn-antares-follow" data-toggle="tooltip" data-placement="bottom" title="Clic para dejar de seguir">Siguiendo</a>
                                     </div>
                                    
                                </div>
                        
                                <div class="row text-center mb-1">
                                    <div class="col-12 container-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                    </div>
                                </div>
                                <div class="row text-center row-transfers">
                                        <div class="col-12">
                                              Seguidores
                                        </div>
                                        <div class="col-12 font-weight-bold">
                                                        <i class="fas fa-users"></i>    1500
                                         </div>
                                        
                                </div>

                
                            </div>

     <div class="container-filters-buyers ">
      <div class="row">
              <div id="filter-head-down" class="col-xs-12 text-center filter-head ">Publicaciones de artista</div>
      </div>

     </div>


<!-- list and pagination arts -->

<!-- art img template -->
<div class="container-art mt-4">
                <button class="btn subasta-art-img" data-toggle="tooltip" data-placement="bottom" title="subasta"><img src="media/img/auction-hammer-icon.png" class="alt-edit"></img></button>
                <a class=" delete-art-img" data-toggle="tooltip" data-placement="bottom" title="Dar me gusta"><i class="fas fa-heart unlike"></i></a>
                <!-- <div class="type-title" data-toggle="tooltip" data-placement="bottom" title="Click Mostrar más info sobre la subasta"><button >SUBASTA</button> </div> -->
                       
                <div class="container-fix-art"> 
                <img src="media/img/oleo1.jpg" class="img-art" data-jslghtbx>
               </div>
                
                        <div class="container-info-arts container-fluid">
                            <div class="row mt-1">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left">
                              
                                    </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <span>Solitario - 120 x 200 - Óleo sobre tela </span>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <label class="label-likes" data-toggle="tooltip" data-placement="bottom" title="Me gusta recibidos"> 300 <i class="fas fa-heart"></i></label> 
                                </div>
                            </div>
                            <div class="row ">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <label class=" text-center" data-toggle="tooltip" data-placement="bottom" title="Oferta inicial"> Oferta inicial:  <strong> $ 600.00 mxn</strong> </label> 
                                      
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                        <label class=" text-left" data-toggle="tooltip" data-placement="bottom" title="Oferta inicial"> Oferta actual:  <strong> $ 600.00 mxn</strong> </label>   
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " >
                                            
                                                <label class="label-likes"  data-toggle="tooltip" data-placement="bottom" title="Tiempo para finalizar"> 12 hrs 56 mins <i class="fas fa-stopwatch"></i></label> 
                                        </div>
                            </div>

                            <div class="row">
                                    <div class="col-12 p-0">
                                            <a href="buyers-bid" class="btn btn-offert">Ofertar</a>
                                    </div>
                            </div>
                
                        </div>
                </div>
                <!-- end art img template -->

                <!-- art img template -->
<div class="container-art mt-4">
                <button class="btn venta-art-img" data-toggle="tooltip" data-placement="bottom" title="Venta" ><img src="media/img/icon-venta.png" ></button>
                <a class=" delete-art-img" data-toggle="tooltip" data-placement="bottom" title="Dar me gusta"><i class="fas fa-heart unlike"></i></a>
                <!-- <div class="type-title" data-toggle="tooltip" data-placement="bottom" title="Click Mostrar más info sobre la venta"><button >VENTA</button> </div> -->
                       
                <div class="container-fix-art"> 
               
              <img src="media/img/oleo2.jpg" class="img-art" data-jslghtbx>
        </div>
                        <div class="container-info-arts container-fluid">
                            <div class="row mt-1">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left">
                         
                                    </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <span>Solitario - 120 x 200 - Óleo sobre tela  </span>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <label class="label-likes" data-toggle="tooltip" data-placement="bottom" title="Me gusta recibidos"> 300 <i class="fas fa-heart"></i></label> 
                                </div>
                            </div>
                            <div class="row ">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                                                <label class=" text-left" data-toggle="tooltip" data-placement="bottom" title="Precio"> Precio:  <strong> $ 600.00 mxn</strong> </label> 
                                      
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                                               
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " >
                                            
                                                <label class="label-likes"  data-toggle="tooltip" data-placement="bottom" title="Tiempo para finalizar"> 12 hrs 56 mins <i class="fas fa-stopwatch"></i></label> 
                                        </div>
                            </div>

                            <div class="row">
                                    <div class="col-12 p-0">
                                            <a href="" class="btn btn-buy">Comprar</a>
                                    </div>
                            </div>
                
                        </div>
                </div>
                <!-- end art img template -->


                   <!-- art video template -->
<div class="container-art mt-4">
                <button class="btn venta-art-img" data-toggle="tooltip" data-placement="bottom" title="Venta" ><img src="media/img/icon-venta.png" ></button>
                <a class=" delete-art-img" data-toggle="tooltip" data-placement="bottom" title="Dar me gusta"><i class="fas fa-heart unlike"></i></a>
                <!-- <div class="type-title" data-toggle="tooltip" data-placement="bottom" title="Click Mostrar más info sobre la venta"><button >VENTA</button> </div> -->
                       
                <div class="container-fix-art"> 
               
        <video class="video-art" width="100%" height="340" controls>
                        <source src="media/video/videoplayback.mp4" type="video/mp4" />
                          
                    </video>
                </div>
                        <div class="container-info-arts container-fluid">
                            <div class="row mt-1">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left">
                             
                                    </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <span>Solitario - 120 x 200 - Óleo sobre tela  </span>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <label class="label-likes" data-toggle="tooltip" data-placement="bottom" title="Me gusta recibidos"> 300 <i class="fas fa-heart"></i></label> 
                                </div>
                            </div>
                            <div class="row ">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                                                    <label class=" text-left" data-toggle="tooltip" data-placement="bottom" title="Precio"> Precio:  <strong> $ 600.00 mxn</strong> </label> 
                                          
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                                                   
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " >
                                                
                                                    <label class="label-likes"  data-toggle="tooltip" data-placement="bottom" title="Tiempo para finalizar"> 12 hrs 56 mins <i class="fas fa-stopwatch"></i></label> 
                                            </div>
                                </div>

                            <div class="row">
                                    <div class="col-12 p-0">
                                            <a href="" class="btn btn-buy">Comprar</a>
                                    </div>
                            </div>
                
                        </div>
                </div>
                <!-- end art video template -->

                <!-- art img template -->
<div class="container-art mt-4">
                <button class="btn subasta-art-img" data-toggle="tooltip" data-placement="bottom" title="subasta"><img src="media/img/auction-hammer-icon.png" class="alt-edit"></img></button>
                <a class=" delete-art-img" data-toggle="tooltip" data-placement="bottom" title="Dar me gusta"><i class="fas fa-heart unlike"></i></a>
                <!-- <div class="type-title" data-toggle="tooltip" data-placement="bottom" title="Click Mostrar más info sobre la subasta"><button >SUBASTA</button> </div> -->
                       
                <div class="container-fix-art">
             <img src="media/img/oleo3.jpg" class="img-art" data-jslghtbx>
        </div>
                        <div class="container-info-arts container-fluid">
                            <div class="row mt-1">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left">
                               
                                    </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <span>Solitario - 120 x 200 - Óleo sobre tela  </span>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <label class="label-likes" data-toggle="tooltip" data-placement="bottom" title="Me gusta recibidos"> 300 <i class="fas fa-heart"></i></label> 
                                </div>
                            </div>
                            <div class="row ">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                    <label class=" text-center" data-toggle="tooltip" data-placement="bottom" title="Oferta inicial"> Oferta inicial:  <strong> $ 600.00 mxn</strong> </label> 
                                          
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                            <label class=" text-left" data-toggle="tooltip" data-placement="bottom" title="Oferta inicial"> Oferta actual:  <strong> $ 600.00 mxn</strong> </label>   
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " >
                                                
                                                    <label class="label-likes"  data-toggle="tooltip" data-placement="bottom" title="Tiempo para finalizar"> 12 hrs 56 mins <i class="fas fa-stopwatch"></i></label> 
                                            </div>
                                </div>

                            <div class="row">
                                    <div class="col-12 p-0">
                                            <a href="buyers-bid" class="btn btn-offert">Ofertar</a>
                                    </div>
                            </div>
                
                        </div>
                </div>
                <!-- end art img template -->

<!-- end list and pagination arts -->

<div class=" row mt-5 ">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
    
                <nav class="nav-pagination">
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>

                          <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                        </ul>
                      </nav>
        </div>
    </div>
 </div>

    <!-- end arts -->


  
  


</div>

</section>

<% include buyers-footer %>